*
{
    margin: 0 auto;
    color: white;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
main
{
    width: 100vw;
    height: 100vh;
    background-color: #16181C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header
{
    width: 100%;
    height: 120px;
    background-color: #222222;
    z-index: 2;
    display: flex;
}
#logo
{
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: auto;
}
.headerSideDiv
{
    width: 20%;
    height: 100%;
}
.headerNavDiv
{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav > a
{
    font-size: 1.5em;
    margin: 10px;
    text-decoration: none;
    font-weight: 450;
}
body > main > div
{
    width: 100%;
    height: 0px;
    position: absolute;
    top: 80px;
    z-index: 1;
}
#headerTriangleGrey
{
    width: 125px;
}
#headerTriangleGreen
{
    position: relative;
    float: right;
    height: 63px;
    top: 56px;
}
main > section
{
    width: 70%;
    height: calc(95% - 120px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
main > section > aside
{
    width: 250px;
    height: 400px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #26292F;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > section > main
{
    width: 70%;
    height: 100%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #26292F;
    border-radius: 0.5rem;
    display: flex;
}
main > section > main > div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: calc(100% - 10px);
    margin: 5px;
    height: calc(100%-10px);
}
::-webkit-scrollbar
{
    width: 10px;
    background: #222222;
    margin-right: 5px;
    height: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb
{
    background-color: #383c43;
    border-radius: 5px;
}
.asideContainer
{
    width: 90%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.asideContainer > button
{
    background-color: #434956;
    border: 0px solid;
    border-radius: 0.5rem;
    width: 130px;
    height: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button > svg
{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin: 5px 0px 5px 5px;
}
button:disabled
{
    cursor: not-allowed;
    filter: brightness(80%);
}
button > span
{
    color: white;
    height: 20px;
    font-size: 105%;
    box-sizing: border-box;
    font-weight: 490;
    margin: 5px 5px 5px 5px;
}
.asideContainer > h3
{
    width: 100%;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    margin-left: 5px;
}
.asideContainer > div > span
{
    margin: 0px 0px 0px 1px;
    height: 16px;
    
}
.cateContainer
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 16px;
    box-sizing: border-box;
}
.cateContainer > div
{
    width: 100%;
    height: 25px;
    display: flex;
}
.cateContainer > div > input
{
    height: 15px;
    width: 15px;
    margin: 5px
}
.cateContainer > div > label
{
    margin-left: 0;
}
.searchBar
{
    background-color: #16181C;
    width: 95%;
    height: 70px;
    margin: 10px;
    border-radius: 1.5rem;
    display: flex;
}
.searchBar > div
{
    width: 48%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar > div > input
{
    background-color: #434956;
    border: 0px solid;
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 100%;
    border-radius: 0.7rem;
    font-size: 1.3em;
}
textarea:focus, input:focus{
    outline: none;
}
.searchBar > div > input:focus
{
    border: 3px solid #9cbe4d;
    margin: 2px;
}
#SearchResults
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}
.res
{
    width: 95%;
    height: auto;
    min-height: 150px;
    background-color: #16181C;
    border-radius: 0.9rem;
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 0px;

}
.res > aside
{
    height: 130px;
    width: 130px;
    margin: 10px;
}
.res > aside > img
{
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
}
.res > section
{
    width: calc(95% - 130px);
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.res > section > div
{
    margin: 1px;
    font-size: 1.3em;
}
.res > section > article
{
    color: #C4CFDD;
    height: auto;
    margin: 1px;
    margin-bottom: 10px;
    word-wrap: break-word;
}
#cocktailDetails
{
    display: none;
    position: absolute;
    width: 70vw;
    height: 55vh;
    top: 15vh;
    left: 15vw;
    box-shadow: 0 0 0 1000px #00000095;
    border-radius: 10px;
    background-color: #393939;
    z-index: 3;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: start;
}
#cocktailDetails > img
{
    width: 20vw;
    height: 20vw;
    border-radius: 10px;
    margin: 20px;
}
#cocktailDetails > div
{
    width: calc(100% - 25vw);
    height: 20vw;
    display: flex;
    flex-wrap: wrap;
}
#cocktailDetails > div > h1
{
    width: calc(100% - 80px);
    height: 60px;
    margin: 15px 0;
    font-size: 2.5em;
    text-align: center;
}
#cocktailDetails > div > button
{
    width: 40px;
    height: 40px;
    margin: 20px;
    background-color: #ff7171;
    border-radius: 50%;
    color: #000;
    font-size: 1.5em;
}
#cocktailDetails > div > p:nth-of-type(1), #cocktailDetails > div > p:nth-of-type(2)
{
    width: 45%;
    margin: 30px 10px;
    text-align: center;
}
#cocktailDetails > p
{
    width: calc(100% - 40px);
    margin: 10px;
    text-align: center;
}